.buttonLayout {
  max-width: 350px;
  width: 100%;
  padding: 5px 20px;
  border-radius: 5px;
  border-style: none;
  margin-top: 20px;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.buttonLayout:active {
  transform: translateY(2px);
  box-shadow: 0 0px 10px rgb(255, 255, 255);
}
