.buttonLayout {
  border-style: none;
  margin-top: 20px;
  font-size: 1.1rem;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #1f1f1f, #111);
  width: 100%;
  font-size: 16px;
}

.buttonLayout:hover {
  color: white;
}
