.accountMobile {
  height: 100%;
  width: 100vw;
  border: 1px solid transparent;
}

.accountMobileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10vh auto;
  min-height: 80vh;
  width: 90%;
  max-width: 500px;
  background-image: linear-gradient(to bottom, #2e2e34, #1e1e222d);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.39);
  border: 1px solid rgba(255, 255, 255, 0.219);
}
