.shopContainer {
  width: 100vw;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopHero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  transition: font-size 0.1s ease-out;
}

.titleMobile {
  font-size: 3rem;
}

.titleDesktop {
  font-size: 10rem;
}
