.shopContainer {
  width: 100vw;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopHero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Zaslia";
  user-select: none;
}

.title h1 {
  font-size: 10rem;
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 3rem;
  }
}
