.inputStyle {
  width: 100%;
  padding: 0.55rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 0.9rem;
  color: rgba(234, 234, 234, 0.704);
  margin-bottom: 0.55rem;

  border-radius: 15px;
  background: #1e1e22;
  box-shadow:
    inset 4px 4px 8px #121214,
    inset -4px -4px 8px #2a2a30;
}

.inputStyle::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.inputStyle:focus {
  border-radius: 15px;
  background: #1e1e22;
  box-shadow:
    inset 9px 9px 18px #0c0c0e,
    inset -9px -9px 18px #303036;
}
