.bottomMenuContainer {
  position: relative;
  width: 100%;
  height: 1vh;
}

.bottomMenu {
  position: fixed;
  bottom: 5.6%;
  left: 50%;
  right: 50%;
  z-index: 1000;
  transition: all 0.3s ease;
  transform: translateX(-50%);
  width: 63%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom, #2e2e34, #1e1e22);
  border-radius: 15px;
}

.bottomMenuBorder {
  position: fixed;
  bottom: 5.4%;
  left: 50%;
  right: 50%;
  z-index: 999;
  transform: translateX(-50%);
  width: 63.5%;
  height: 47px;
  padding: 5px 10px;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 8px 8px 12px #17171a;
}

.bottomMenuBorder::before,
.bottomMenuBorder::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.878) 40%,
    rgba(255, 255, 255, 0.878) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

.bottomMenuBorder::before {
  top: -50%;
  left: -80%;
  filter: blur(5px);
  animation: moveTopLine 15s ease-in-out infinite;
}

.bottomMenuBorder::after {
  bottom: -50%;
  right: -80%;
  filter: blur(5px);
  animation: moveBottomLine 15s ease-in-out infinite;
}

@keyframes moveTopLine {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes moveBottomLine {
  0% {
    right: -100%;
  }
  50% {
    right: 100%;
  }
  100% {
    right: -100%;
  }
}

.firstItemActive {
  transform: translateX(-14%);
}

.secondItemActive {
  transform: translateX(-32%);
}

.thirdItemActive {
  transform: translateX(-50%);
}

.fourthItemActive {
  transform: translateX(-68%);
}

.fifthItemActive {
  transform: translateX(-87%);
}

.tab {
  width: 35px;
  height: 35px;
  background-image: linear-gradient(145deg, #2e2e34, #1e1e22);
  border-radius: 10px;
  margin: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
  transform-origin: center center;
  box-shadow: 4px 4px 8px #17171a;
}

.tab:active {
  box-shadow:
    inset 4px 4px 8px #17171a,
    inset -4px -4px 8px #25252a;
  transform: scale(0.95);
}

.activeTab {
  transform: scale(1.3) translateY(-15px);
  color: white;
  background-image: linear-gradient(145deg, #1e1e22, #2e2e34);
  box-shadow:
    inset 4px 4px 8px #17171a,
    inset -4px -4px 8px #25252a;
}

.secondaryTab {
  transform: scale(1.1) translateY(-9px);
  color: rgba(255, 255, 255, 0.9);
}
