.scrollProgress {
  position: fixed;
  bottom: 5%;
  right: 1%;
  transform: translateX(-50%);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: all 0.3s ease-in-out;
}

.bottomNavContainer {
  width: 80px;
  height: 80px;
  background-color: #0d0d0d;
  border-radius: 50%;

  display: grid;
  place-content: center;

  transition: all ease 0.5s;
}

.bottomNavBar {
  display: grid;
  place-content: end;
}

.bottomNavBar li {
  display: grid;
  place-content: center;
  font-size: 1.5rem;
}

.burgerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 30px;
  transition: all ease-in-out 0.5s;
}

.burgerClicked {
  transform: translateX(7px);
}

.burgerLines {
  width: 25px;
  height: 2px;
  background-color: rgb(146, 146, 146);
  border-radius: 2px;
  transition: all ease-in-out 0.5s;
}

.topLine,
.middleLine,
.bottomLine {
  transform-origin: center;
}

.topLineClicked {
  transform: rotate(45deg) translateY(11px);
}

.middleLineClicked {
  opacity: 0;
}

.bottomLineClicked {
  transform: rotate(-45deg) translateY(-11px);
}
