.scrollProgress {
  position: fixed;
  bottom: 2.5%;
  right: 50%;
  transform: translateX(50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}

.bottomNavContainer {
  width: 40px;
  height: 40px;
  background-color: #0d0d0d;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: all ease 0.5s;
}

.bottomNavBar {
  display: grid;
  place-content: end;
}

.bottomNavBar li {
  display: grid;
  place-content: center;
  font-size: 1.5rem;
}

.burgerContainer {
  display: grid;
  place-items: center;
  height: 25px;
  width: 25px;
  transition: all ease 0.5s;
  position: relative;
}

.burgerLines {
  width: 70%;
  height: 2px;
  background-color: #bbb;
  position: absolute;
}

.topLine {
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
  top: 30%;
}

.middleLine {
  transition: transform 0.2s ease-in-out;
  top: 50%;
}

.bottomLine {
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
  top: 70%;
}

.topLineClicked {
  transform: rotate(45deg);
  top: 50%;
  width: 70%;
}

.middleLineClicked {
  transform: scaleX(0);
}

.bottomLineClicked {
  transform: rotate(-45deg);
  top: 50%;
  width: 70%;
}

@media (min-width: 1024px) {
  .scrollProgress {
    position: static;
    bottom: auto;
    right: initial;
    transform: none;
    border-radius: 0;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
  }

  .bottomNavContainer {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 0;
  }

  .burgerContainer {
    display: grid;
    place-items: center;
    height: 18px;
    width: 18px;
    padding: 3px;
  }

  .burgerLines {
    height: 2px;
    background-color: rgb(146, 146, 146);
    border-radius: 2px;
    transition: all ease-in-out 0.5s;
    width: 80%;
  }

  .topLineClicked {
    width: 80%;
  }
}
