.scrollProgress {
  position: fixed;
  bottom: 5%;
  right: 50%;
  transform: translateX(50%);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}

.bottomNavContainer {
  width: 80px;
  height: 80px;
  background-color: #0d0d0d;
  border-radius: 50%;

  display: grid;
  place-content: center;

  transition: all ease 0.5s;
}

.bottomNavBar {
  display: grid;
  place-content: end;
}

.bottomNavBar li {
  display: grid;
  place-content: center;
  font-size: 1.5rem;
}

.burgerContainer {
  display: grid;
  place-items: center;
  height: 25px;
  width: 25px;
  transition: all ease 0.5s;
}

.burgerLines {
  width: 100%;
  height: 3px;
  background-color: #bbb;
}

.topLine {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.middleLine {
  transition: transform 0.2s ease-in-out;
}

.bottomLine {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.topLineClicked {
  transform: rotate(45deg) translateY(-100%);
  width: 30px;
}

.middleLineClicked {
  transform: scaleY(0);
}

.bottomLineClicked {
  transform: rotate(-45deg) translateY(100%);
}

@media (min-width: 1024px) {
  .scrollProgress {
    position: static;
    bottom: auto;
    right: initial;
    transform: none;
    border-radius: 0;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
  }

  .bottomNavContainer {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 0;
  }

  .burgerContainer {
    display: grid;
    place-items: center;
    padding: 3px;
  }

  .burgerLines {
    display: grid;
    place-items: center;
    height: 2px;
    background-color: rgb(146, 146, 146);
    border-radius: 2px;
    transition: all ease-in-out 0.5s;
  }

  .topLineClicked {
    width: 22px;
  }
}
