.formContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 150px;
}

.formField {
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
