.formContainer {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
  padding: 0.5rem;
  height: 100%;
}

.formDivider {
  width: 90%;
  margin: 30px auto;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.1) 80%,
    transparent
  );
}

.formInputContainer {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr auto; /* First row takes available space, second row for button */
  gap: 1rem;
  min-height: 20rem; /* Ensure consistent form height */
}

.formTitleContainer {
  color: rgb(182, 182, 182);
}

.formField {
  width: 100%;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-row: 2; /* Explicitly place in second row */
}

.formTitle {
  margin-bottom: 1.25rem;
}

.formError {
  color: rgb(211, 66, 66);
  font-size: 0.6rem;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .formContainer {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
    padding: 0rem;
    height: 100%;
  }

  .formInputContainer {
    padding: 0px;
    min-height: 14.5rem;
  }

  .formTitleContainer h2 {
    font-size: 1.2rem;
  }

  .formTitleContainer p {
    font-size: 0.8rem;
  }
}
