.formContainer {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
  padding: 0.5rem;
  height: 100%;
  min-height: 550px; /* Ensure consistent height */
  display: flex;
  flex-direction: column;
}

.formDivider {
  width: 90%;
  margin: 30px auto;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.1) 80%,
    transparent
  );
}

.formInputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1; /* Allow input container to grow */
}

.formTitleContainer {
  color: rgb(182, 182, 182);
}

.formField {
  width: 100%;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-row: 2; /* Explicitly place in second row */
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
  width: 80%;
}

.dividerLine {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.1) 80%,
    transparent
  );
}

.formTitle {
  margin-bottom: 1.25rem;
}

.formError {
  color: rgb(211, 66, 66);
  font-size: 0.6rem;
  margin: 0 auto 10px auto;
  text-align: center;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.divider span {
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}

.buttonStack {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
  margin-top: auto; /* Push buttons to the bottom */
}

@media (max-width: 768px) {
  .formContainer {
    min-height: 450px;
    max-height: 500px;
  }

  .formInputContainer {
    padding: 0px;
    min-height: 9.5rem;
  }

  .formTitleContainer h2 {
    font-size: 1.2rem;
  }

  .formTitleContainer p {
    font-size: 0.8rem;
  }

  .buttonStack {
    gap: 0.1rem;
  }
}
